@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import "tailwindcss" source(none);

@source "./";

@layer base {
    h1 {
        font-family:"Cinzel", serif;
    }
}