@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss" source(none);

@source "./";

@layer base {
    h1 {
        font-family:"Cinzel", serif;
    }
    h2, h4 {
        font-family: "Red Hat Text", sans-serif;
    }

    h5 {
        @apply absolute px-6 duration-200 w-52 bottom-4 md:bottom-8 md:px-10 
        group-hover:scale-110 group-hover:text-black;
    }
}

@layer utilities {
    .animated-underline {
      display: inline-block;
      position: relative;
    }
    .animated-underline::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px; /* Underline thickness */
      background-color: orange; /* Matches text color */
      transition: width 300ms ease-in-out;
      width: 0;
    }
    .animated-underline:hover::after {
      width: 100%;
    }
  }


@layer components {

  .item-container {
    @apply flex flex-col justify-between w-full space-y-6 text-2xl text-white 
    uppercase md:flex-row md:space-y-0 md:space-x-8;
  }

  .item {
   @apply relative overflow-hidden md:w-1/4;
  }

  .item-gradient {
    @apply absolute top-0 bottom-0 right-0 left-0 bg-gradient-to-b 
    from-transparent to-gray-900 group-hover:from-gray-50 group-hover:to-white group-hover:opacity-70;
  }

  .menu-item {
    @apply relative flex h-full items-center p-7 cursor-pointer font-bold hover:text-zinc-200 hover:bg-white/20 transition-colors ease-in-out
  }

}

@custom-variant group-open {
  &:is(:where(.group):is(.open, [open], :popover-open, :open) *) {
    @slot;
  }
}
@custom-variant peer-open {
  &:is(:where(.peer):is(.open, [open], :popover-open, :open) ~ *) {
    @slot;
  }
}