@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import "tailwindcss" source(none);

@source "./";

@layer base {
    h1 {
        font-family:"Cinzel", serif;
    }
}

@layer utilities {
    .animated-underline {
      display: inline-block;
      position: relative;
    }
    .animated-underline::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px; /* Underline thickness */
      background-color: orange; /* Matches text color */
      transition: width 300ms ease-in-out;
      width: 0;
    }
    .animated-underline:hover::after {
      width: 100%;
    }
  }